BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
ColumnLimit: 0
NamespaceIndentation: All
AlignConsecutiveMacros: true
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
SortIncludes: false
IndentPPDirectives: BeforeHash
SpacesInParentheses: true
PointerAlignment: Middle
